<form action='/landmarks' method='POST'>
	<label>NAME: <input type='text' name='name'></lable>
	<label>YEAR COMPLETED: <input type='text' name='year_completed'></lable>
	<label>FIGURE ID: <input type='text' name='figure_id'></lable>
	<input type='submit' value='MAKE HISTORY!'>
</form>